$color-principal: white;
$medida-principal: 100%;
$centro: center;
$color-secundario: rgb(203, 203, 203);
$medida-secundaria: 50%;
$color-tercero: blue;
$color-letras: white;
$fuente: Arial, Helvetica, sans-serif;